body {
  width: 1440px;
  height: 2844px;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header {
  padding: 92px 49px 92px 51px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0px;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-top: 43px;
  margin-bottom: 45px;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  text-decoration: none;
}
.header__links-list-item {
  list-style: circle;
}
.header__links-list_no-bullit {
  list-style: none;
}
.header__link {
  text-decoration: underline;
  text-underline-offset: 4.5px;
  /*border-bottom: 1px solid black;*/
}
.header__link_active {
  text-decoration: none;
  border-bottom: none;
}
.header__logo {
  grid-column: 2;
  justify-self: center;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.address {
  grid-column: 3;
  justify-self: right;
  align-self: center;
  line-height: 24.3px;
  font-style: normal;
}
.address__curent-address {
  font-style: normal;
}
/*address{
  font-style: normal;
}*/
.telephone {
  display: block;
  text-decoration: underline;
  text-underline-offset: 4.5px;
}
.email {
  display: block;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.header__address {
  position: relative;
  right: 3px;
}
